.Rhistory
reported-crime/reported-crime-county-all_files*
reported-crime/reported-crime-place-all_files*
01_agency_geo_county_files
01_agency_geo_place_files
juvenile-arrests*
reported-crime
modified data
juvenile-arrests/juvenile-arrests-county-all_files
juvenile-arrests/juvenile-arrests-place-all_files
01_agency_geo_place_files
01_agency_geo_county_files
