# Data files
FY18_4050_FMRs_rev.csv
Section8-FY18.csv
mit_living_wages.dta
wage_ratio_final.dta
2014_data.csv
qcew_2018.dta
wage_ratio_final_2_year.dta
mit_living_wages_2018.dta
mit_living_wage_2_year.dta
FY2018_4050_FMRs_rev.csv
Section8-FY2018.csv
FY2014_4050_FMRs_rev.csv
Section8-FY2014.csv
RecentPlaces.lnk
Rent_RamseyCo.xlsx
2020_data.csv
ramsey_puma.csv
ramsey_race.csv
metrics_rent_5_year.csv
metrics_rent_subgroup.csv
metrics_wage_ratio_years_riverside.csv
metrics_wage_ratio_years_riverside_2020.csv
wage_ratio_riverside_2_year.dta
Documentation.docx
Instructions on how to run ACS metrics.txt
CA_employment.csv
CA_employment.xlsx
metrics_income_2014.csv
metrics_income_2018.csv
metrics_wage_ratio_years_alameda.csv
metrics_wage_ratio_years_alameda_v2.csv
metrics_wage_ratio_years_riverside_v2.csv
wage_ratio_alameda_2_year.dta
Riverside request Nov 2021
metrics_wage_ratio_years.csv
preschool_5_year_2015.csv
preschool_5_year_2016.csv
preschool_5_year_2017.csv
preschool_5_year_2018.csv
preschool_5_year_2019.csv
college_5_year2015.csv
college_5_year2016.csv
college_5_year2017.csv
college_5_year2018.csv
college_5_year2019.csv
metrics_wage_ratio_years_ramsey.csv
wage_ratio_ramsey_2_year.dta

FY2021_4050_FMRs_rev.csv
Section8-FY2021.csv

mit-living-wage-scraped_12_15_22.csv
mit_living_wages-2021.dta
wage_ratio_final_2021.dta
compute_metrics_access.sas
metrics_access_2021.sas7bdat
&dataset_2..csv
Census_PEP_city.csv
Census_PEP_county.csv

*\02_housing\data\raw\*
*\02_housing\data\intermediate\*
*\02_housing\data\built\*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md

R/census_api_key.R

*.log
*.lst


# System files
.DS_Store

# Database construction
data/temp/

*stswp
*.bak

*02_housing/data/raw/
*02_housing/data/intermediate/
*04_health/data/raw
*04_health/data/intermediate
04_health/county-populations.csv
04_health/exposure-to-trauma/data/
04_health/access-health-services/data
04_health/access-health-services/ahrf2022.sas7bdat
04_health/access-health-services/AHRF 2021-2022 Technical Documentation.xlsx
04_health/access-health-services/chr2023.xlsx
04_health/exposure-to-trauma/cdc2020.txt
04_health/exposure-to-trauma/cdc2021_single_race.txt
04_health/exposure-to-trauma/chr2023.xlsx
07_safety/*
*08_education/data/raw/
*08_education/data/intermediate/




