# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Temporary files created by R markdown
*.utf8.md
*.knit.md

R/census_api_key.R

*.log
*.lst

# Data files
metrics_college.sas7bdat
puma_to_county.sas7bdat
FY18_4050_FMRs_rev.csv
Section8-FY18.csv
metrics_housing.sas7bdat
metrics_famstruc.sas7bdat
metrics_preschool.sas7bdat
2018_data.csv
metrics_unemployment.sas7bdat
mit_living_wages.dta
wage_ratio_final.dta
metrics_employment.sas7bdat
metrics_preschool_subgroup.sas7bdat
metrics_college_subgroup.sas7bdat
2014_data.csv
metrics_famstruc_subgroup.sas7bdat
qcew_2018.dta
wage_ratio_final_2_year.dta
mit_living_wages_2018.dta
mit_living_wage_2_year.dta
metrics_employment_subgroup.sas7bdat
usa_00017.cbk
countywgts.sas7bdat
metrics_housing_2014.sas7bdat
metrics_housing_2018.sas7bdat
FY2018_4050_FMRs_rev.csv
Section8-FY2018.csv
FY2014_4050_FMRs_rev.csv
Section8-FY2014.csv
RecentPlaces.lnk
metrics_rent_2014.sas7bdat
metrics_rent_2018.sas7bdat
metrics_rent.sas7bdat


# files for 01_financial-well-being

# files for 02_housing
Section8-FY18.csv
metrics_housing.sas7bdat

# files for 03_family
metrics_famstruc.sas7bdat

# files for 04_health

# files for 05_local-governance
*mit/
  
  # files for 06_neighborhoods
  *census_api_key.R
R/census_api_key.R
06_neighborhoods/environment/raw/
  06_neighborhoods/transportation/data/
  
  # files for 07_safety
  
  # files for 08_education
  metrics_preschool.sas7bdat
metrics_college.sas7bdat

# files for 09_employment
2018_data.csv
metrics_unemployment.sas7bdat
mit_living_wages.dta
wage_ratio_final.dta
metrics_employment.sas7bdat

# Other
puma_to_county.sas7bdat
FY18_4050_FMRs_rev.csv

