# System files
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Temporary files created by R markdown
*.utf8.md
*.knit.md

*census_api_key.R

*.log
*.lst

# Data files
metrics_college.sas7bdat
puma_to_county.sas7bdat
FY18_4050_FMRs_rev.csv
Section8-FY18.csv
metrics_housing.sas7bdat
metrics_famstruc.sas7bdat
metrics_preschool.sas7bdat
2018_data.csv
metrics_unemployment.sas7bdat
mit_living_wages.dta
wage_ratio_final.dta
metrics_employment.sas7bdat
metrics_preschool_subgroup.sas7bdat
metrics_college_subgroup.sas7bdat
2014_data.csv
metrics_famstruc_subgroup.sas7bdat
qcew_2018.dta
wage_ratio_final_2_year.dta
mit_living_wages_2018.dta
mit_living_wage_2_year.dta
metrics_employment_subgroup.sas7bdat
usa_00017.cbk
countywgts.sas7bdat
metrics_housing_2014.sas7bdat
metrics_housing_2018.sas7bdat
FY2018_4050_FMRs_rev.csv
Section8-FY2018.csv
FY2014_4050_FMRs_rev.csv
Section8-FY2014.csv
RecentPlaces.lnk
metrics_rent_2014.sas7bdat
metrics_rent_2018.sas7bdat
metrics_rent.sas7bdat
04_health/access-health-services/data/
04_health/exposure-to-trauma/data/



# files for 01_financial-well-being

# files for 02_housing
Section8-FY18.csv
metrics_housing.sas7bdat
*usa_00584.csv.gz
02_housing/data/raw/*
02_housing/data/intermediate/*

# files for 03_family
metrics_famstruc.sas7bdat

# files for 04_health

# files for 05_local-governance
05_local-governance/voter-turnout/data/
  
# files for 06_neighborhoods
*census_api_key.R
R/census_api_key.R
06_neighborhoods/environment/raw/
06_neighborhoods/environment/data/raw/
!06_neighborhoods/environment/data/rawa/2018_National*
06_neighborhoods/transportation/data/
  
# files for 07_safety
  

# files for 08_education
metrics_preschool.sas7bdat
metrics_college.sas7bdat

08_education/data/raw/*
08_education/data/intermediate/*

08_education/data/intermediate/countyfile.dta
08_education/data/raw/ccd_enr_2014-2018.dta
08_education/data/intermediate/ccd_enr_2014-2018_wide.dta
08_education/data/raw/ccd_dir_2014-2018.dta
08_education/data/raw/ccd_meps_2014-2018.dta
08_education/data/intermediate/combined_2014-2018.dta

08_education/data/intermediate/cityfile.dta


08_education/data/raw/seda_county_long_gcs_4.1.dta
08_education/data/intermediate/SEDA_all.dta
08_education/data/intermediate/SEDA.dta

08_education/data/intermediate/seda_race_postreg.dta

08_education/data/raw/seda_school_pool_gcs_4.1.dta

08_education/data/intermediate/SEDA_all_city.dta

08_education/data/raw/seda_geodist_long_gcs_4.1.dta
08_education/data/intermediate/gleaid_13-17.dta

08_education/data/built/SEDA_all_subgroups_county.csv
08_education/data/built/SEDA_all_county.csv

08_education/data/raw/seda_metro_long_gcs_4.1.dta
08_education/data/intermediate/seda_race_postreg_metro.dta

08_education/data/built/SEDA_all_subgroups_metro.csv
08_education/data/built/SEDA_all_metro.csv

08_education/data/intermediate/intermediate/ccd_lea_city.dta

08_education/data/intermediate/collapse_city_all_weighted.dta
08_education/data/intermediate/collapse_city_blk_weighted.dta
08_education/data/intermediate/collapse_city_wht_weighted.dta
08_education/data/intermediate/collapse_city_hsp_weighted.dta
08_education/data/intermediate/collapse_city_mal_weighted.dta
08_education/data/intermediate/collapse_city_fem_weighted.dta
08_education/data/intermediate/collapse_city_ecd_weighted.dta
08_education/data/intermediate/collapse_city_nec_weighted.dta


# files for 09_employment
2018_data.csv
metrics_unemployment.sas7bdat
mit_living_wages.dta
wage_ratio_final.dta
metrics_employment.sas7bdat

# Other
puma_to_county.sas7bdat
FY18_4050_FMRs_rev.csv

kevin
# Data files
metrics_college.sas7bdat
puma_to_county.sas7bdat
FY18_4050_FMRs_rev.csv
Section8-FY18.csv
metrics_housing.sas7bdat
metrics_famstruc.sas7bdat
metrics_preschool.sas7bdat
metrics_unemployment.sas7bdat
mit_living_wages.dta
wage_ratio_final.dta
metrics_employment.sas7bdat
metrics_preschool_subgroup.sas7bdat
metrics_college_subgroup.sas7bdat
2014_data.csv
metrics_famstruc_subgroup.sas7bdat
qcew_2018.dta
wage_ratio_final_2_year.dta
mit_living_wages_2018.dta
mit_living_wage_2_year.dta
metrics_employment_subgroup.sas7bdat
usa_00017.cbk
countywgts.sas7bdat
metrics_housing_2014.sas7bdat
metrics_housing_2018.sas7bdat
FY2018_4050_FMRs_rev.csv
Section8-FY2018.csv
FY2014_4050_FMRs_rev.csv
Section8-FY2014.csv
RecentPlaces.lnk
metrics_rent_2014.sas7bdat
metrics_rent_2018.sas7bdat
metrics_rent.sas7bdat
Rent_RamseyCo.xlsx
2020_data.csv
ramsey_puma.csv
ramsey_race.csv
metrics_rent_5_year.csv
metrics_rent_5_year.sas7bdat
metrics_rent_subgroup.csv
metrics_wage_ratio_years_riverside.csv
metrics_wage_ratio_years_riverside_2020.csv
wage_ratio_riverside_2_year.dta
Documentation.docx
Instructions on how to run ACS metrics.txt
CA_employment.csv
CA_employment.xlsx
metrics_income_2014.csv
metrics_income_2018.csv
metrics_wage_ratio_years_alameda.csv
metrics_wage_ratio_years_alameda_v2.csv
metrics_wage_ratio_years_riverside_v2.csv
metrics_wage_ratio_years_v2.csv
wage_ratio_alameda_2_year.dta
Riverside request Nov 2021
metrics_wage_ratio_years.csv
metrics_college_5_2015.sas7bdat
metrics_college_5_2016.sas7bdat
metrics_college_5_2017.sas7bdat
metrics_college_5_2018.sas7bdat
metrics_college_5_2019.sas7bdat
preschool_5_year_2015.csv
preschool_5_year_2016.csv
preschool_5_year_2017.csv
preschool_5_year_2018.csv
preschool_5_year_2019.csv
college_5_year2015.csv
college_5_year2016.csv
college_5_year2017.csv
college_5_year2018.csv
college_5_year2019.csv
metrics_wage_ratio_years_ramsey.csv
wage_ratio_ramsey_2_year.dta

FY2021_4050_FMRs_rev.csv
Section8-FY2021.csv

metrics_housing_2021.sas7bdat

metrics_rent_2021.sas7bdat

metrics_famstruc_2021.sas7bdat

metrics_college_2021.sas7bdat

metrics_preschool_2021.sas7bdat
usa_00063_f.sas7bdat

metrics_employment_2021.sas7bdat

mit-living-wage-scraped_12_15_22.csv
mit_living_wages-2021.dta
wage_ratio_final_2021.dta
compute_metrics_access.sas
metrics_access_2021.sas7bdat
Instructions on how to run ACS metrics 1year 2021.txt
metrics_famstruc_subgroup_2021.sas7bdat
&dataset_2..csv
metrics_access_subgroup_2021.sas7bdat
usa_00070_f.sas7bdat
metrics_preschool_subgroup_2021.sas7bdat
metrics_pre_subgroup_2021.sas7bdat
metrics_college_subgroup_2021.sas7bdat
metrics_employ_subgroup_2021.sas7bdat
metrics_employment_subgroup_2021.sas7bdat
Instructions on how to run ACS metrics 5year 2021.txt

# Data files
metrics_college.sas7bdat
puma_to_county.sas7bdat
FY18_4050_FMRs_rev.csv
Section8-FY18.csv
metrics_housing.sas7bdat
metrics_famstruc.sas7bdat
metrics_preschool.sas7bdat
2018_data.csv
metrics_unemployment.sas7bdat
mit_living_wages.dta
wage_ratio_final.dta
metrics_employment.sas7bdat
metrics_preschool_subgroup.sas7bdat
metrics_college_subgroup.sas7bdat
2014_data.csv
metrics_famstruc_subgroup.sas7bdat
qcew_2018.dta
wage_ratio_final_2_year.dta
mit_living_wages_2018.dta
mit_living_wage_2_year.dta
metrics_employment_subgroup.sas7bdat
usa_00017.cbk
countywgts.sas7bdat
metrics_housing_2014.sas7bdat
metrics_housing_2018.sas7bdat
FY2018_4050_FMRs_rev.csv
Section8-FY2018.csv
FY2014_4050_FMRs_rev.csv
Section8-FY2014.csv
RecentPlaces.lnk
metrics_rent_2014.sas7bdat
metrics_rent_2018.sas7bdat
metrics_rent.sas7bdat
04_health/access-health-services/data/
04_health/exposure-to-trauma/data/
data/temp


# files for 01_financial-well-being

# files for 02_housing
Section8-FY18.csv
metrics_housing.sas7bdat
02_housing/data/raw/
02_housing/data/intermediate/

# files for 03_family
metrics_famstruc.sas7bdat

# files for 04_health

# files for 05_local-governance
*mit/
  
# files for 06_neighborhoods
*census_api_key.R
R/census_api_key.R
06_neighborhoods/environment/raw/
  06_neighborhoods/transportation/data/
  
# files for 07_safety
  
# files for 08_education
metrics_preschool.sas7bdat
metrics_college.sas7bdat

08_education/data/raw/
08_education/data/intermediate/

# files for 09_employment
2018_data.csv
metrics_unemployment.sas7bdat
mit_living_wages.dta
wage_ratio_final.dta
metrics_employment.sas7bdat

# Other
puma_to_county.sas7bdat
FY18_4050_FMRs_rev.csv
